@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin: 0px auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 10px;
  max-width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfdfdf;
}
